/* src/styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .filter-container, .task-container {
    width: 80%;
    margin: 20px auto;
  }
  
  .filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-container input,
  .filter-container select {
    padding: 5px;
    font-size: 16px;
    width: 170px;
  }
  
  .filter-container button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  .filter-container button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .pending {
    color: red;
  }
  
  .completed {
    color: green;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  