<div class="profile-icon-container" (click)="toggleProfile()">
   
    <img src="../../assets/images/profile.png" alt="Profile " height="55px" width="60px">
    <p><b>Profile..</b></p>
  </div>    
  
  <div class="profile-info" *ngIf="showProfile">
    <p>Name: {{ profile.name }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Mobile: {{ profile.mobile }}</p>
    <!-- Add more details as needed -->
    <button (click)="toggleEdit()">Edit Profile</button>
    <div *ngIf="editing">
      <input type="text" [(ngModel)]="profile.name">
      <input type="text" [(ngModel)]="profile.email">
      <input type="text" [(ngModel)]="profile.mobile">
      <button (click)="saveProfile()">Save</button>
    </div>
  </div>
  